<div class="min-h-screen flex items-center justify-center bg-gray-900 py-6">
  <div class="w-full max-w-lg bg-white rounded-lg shadow-lg p-8">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">{{ empleadoId ? 'Editar Empleado' : 'Registrar Empleado' }}</h1>
    <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-4">
        <div>
          <label class="block text-gray-700">Primer Apellido</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="primer_apellido" type="text" />
          <div *ngIf="empleadoForm.get('primer_apellido')?.invalid && empleadoForm.get('primer_apellido')?.touched" class="text-red-600">
            Primer Apellido es requerido y solo permite letras A-Z.
          </div>
        </div>
        <div>
          <label class="block text-gray-700">Segundo Apellido</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="segundo_apellido" type="text" />
          <div *ngIf="empleadoForm.get('segundo_apellido')?.invalid && empleadoForm.get('segundo_apellido')?.touched" class="text-red-600">
            Segundo Apellido es requerido y solo permite letras A-Z.
          </div>
        </div>
        <div>
          <label class="block text-gray-700">Primer Nombre</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="primer_nombre" type="text" />
          <div *ngIf="empleadoForm.get('primer_nombre')?.invalid && empleadoForm.get('primer_nombre')?.touched" class="text-red-600">
            Primer Nombre es requerido y solo permite letras A-Z.
          </div>
        </div>
        <div>
          <label class="block text-gray-700">Otros Nombres</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="otros_nombre" type="text" />
          <div *ngIf="empleadoForm.get('otros_nombre')?.invalid && empleadoForm.get('otros_nombre')?.touched" class="text-red-600">
            Otros Nombres solo permite letras A-Z y espacios.
          </div>
        </div>
        <div>
          <label class="block text-gray-700">País</label>
          <select class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="pais_id">
            <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre }}</option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700">Tipo de Identificación</label>
          <select class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="identificacion_tipo_id">
            <option *ngFor="let tipo of identificacionTipos" [value]="tipo.id">{{ tipo.nombre }}</option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700">Número de Identificación</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="numero_identificacion" type="text" />
          
        </div>
        <div>
          <label class="block text-gray-700">Fecha de Ingreso</label>
          <input class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="fecha_ingreso" type="date" [max]="maxDate"/>
          
        </div>
        <div>
          <label class="block text-gray-700">Área</label>
          <select class="w-full mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" formControlName="area_id">
            <option *ngFor="let tipo of areas" [value]="tipo.id">{{ tipo.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="mt-6 flex justify-between">
        <button class="bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded" type="submit" >Guardar</button>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" [routerLink]="['/empleados']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
